header{
    position: absolute;
    height: 80px;
    margin: 0px;
    background-color: rgb(182, 181, 181);
    width: 100%;
    top: 0%;
}

.nav-flex-column{
    position: absolute;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 100%;
    background-color: #EBEAEA;
    
}

.nav-item{
    display: inline;
    padding-right: 30px ;   
}


Button:hover{
    background-color: white;
    color: black;
}

#logo{
    color: #868686;
    padding: 0.25em 1em;
    font-size: 50px;
    font-family: "Monoton";
    font-style: none;
}