h2{
    color: #868686;
    margin-top: 130px;
    margin-left: 80px;
    font-family: 'IBM Plex Sans Bold';
    font-size: 35px;
}

p{
    color: #868686;
    margin-top: 57px;
    margin-left: 80px;
    font-family: 'IBM Plex Sans Medium';
    font-size: 30px;
}