#listra{
    background: #4A36E2;
    padding: 1px;
    
}

#t_listra{
    margin-bottom: 20px;    
    color: white;
    font-family: "IBM Plex Sans Medium";
    font-size: 40px;
}

#pdjumb{
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -120px;
    position: absolute;
    width: 1000px;
    height: 400px;
    -webkit-box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    
}

#listrinha{
    background-color: #4A36E2;
    margin-left: 70px;
    width: 85%;
    height: 3px;
    
}
#pedProd{
    text-align: center;
    font-family: 'IBM Plex Sans Medium';
    font-size: 25px;
    margin-top: 30px;
}




label{
    margin-left: 50px;
    font-family: "IBM Plex Sans Medium";
}

#pcliente, #ppcnpj{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#pdcod, #pdqnt, #pdprice{
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#pdcod, #pdqnt, #pdprice, #sub{
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#sub{
    margin-left: 20px !important;
}

ReactAutocomplete {
    width: 1000px;
}

#gravar{
    margin-left: 430px !important;
}