#listra{
    background: #4A36E2;
    padding: 1px;
    width: 100%;
    
}

#t_listra{
    margin-bottom: 20px;    
    color: white;
    font-family: "IBM Plex Sans Medium";
    font-size: 40px;
}

#pjumb{
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -120px;
    position: absolute;
    width: 700px;
    height: 400px;
    -webkit-box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    
}
#ptext{
    text-align: center;
    font-family: 'IBM Plex Sans Light Bold';
    font-size: 25px;
    margin-top: 30px;
}




label{
    margin-left: 20px;
    font-family: "IBM Plex Sans Medium";
}

#pname, #paddress, #pfantasy_name, #pemail, #pcity, #pcnpj{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
