#loginSub{
    margin-left: 190px;
    padding: 14px 20px;
    font-family: 'IBM Plex Sans Medium';
    background-color: #08CE00;
    font-size: 20px;
    text-align: center;
    text-size-adjust: auto;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
    width: 120px;
    height: 50px;
}
#loginh3{
    text-align: center;
    font-family: 'IBM Plex Sans medium';
    font-size: 25px;
    margin-top: 30px;
}
#login{
    margin-top: 28px;
}
#lemail, #lsenha{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 125px;
    margin-top: 10px;
}

#tela{
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    position: absolute;
    width: 500px;
    height: 300px;
    -webkit-box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px 3px rgba(50, 50, 50, 0.77);
    
}

h1{
    color: black;
    text-align: center;
    font-family: 'IBM Plex Sans Medium';
    top: 50%;
    left: 50%;
    margin-top: 150px
}
div{
    background-color: #FFFFFF;
}