#psearch{
    width: 30%;
    padding: 12px;
    height: 30;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: -700px;
    margin-left: 430px;
    
}
#lpsearch{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 430px;
}
#PTable{
    
    border-radius: 5px;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
table{
    border-collapse: absolute;
    
    background-color: white;
    border: 1px solid black;
    
}
th, td{
    
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    font-family: sans-serif;
}

tr:nth-child(even){background-color: #f1f1f1}

th{
    background-color: #4A36E2;
    color: white;
    
}

i{
    width: 15px;
    height: 10px;
    font-size: 20px;
}
i:hover{
    color: red;
    
}

@media screen and (max-width: 480px){

    .table-action thead {
        display: none;
      }  
      .table-action td {
        border: 0;
      }
      .table-action td:not(:first-child) {
        display: block;
        height: 25px;
      }
      .table-action td:last-child {
        height: 42px;
      }
}